<ul class="navbox">
    <li class="navitem">
        <a href="/">Home</a>
    </li>
    <li class="navitem">
        <a href="/">Roster</a>
    </li>
    <li class="navitem">
        <a href="/">Player Resources</a>
    </li>
    <li class="navitem">
        <a href="/">New Player Info</a>
    </li>
</ul>
