<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        </head>
    <body>
    <div class="header">
        {{> header}}
    </div>
    <main class="content">
        {{{body}}}
        <div class="clearfix"></div>
    </main>
    <div class="footer">
        {{> footer}}
    </div>
    </body>
</html>
